<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ticket.dao.OrderDao">

    <insert id="insertOne" parameterType="Order">
        insert into t_order(order_id, create_time, state, id_num, price)
        values (#{order.orderId}, #{order.createTime}, #{order.state}, #{order.idNum}, #{order.price})
    </insert>

    <select id="findOrderSubmittedByIdNum" resultType="Order">
        select * from t_order where id_num = #{idNum} and state = 'submitted'
    </select>

    <select id="findOrderPaidByIdNum" resultType="Order">
        select * from t_order where id_num = #{idNum} and state = 'paid'
    </select>

    <delete id="deleteOneOrder">
        delete from t_order where order_id = #{orderId}
    </delete>

    <select id="selectOneOrder">
        select * from t_order where order_id = #{orderId}
    </select>

    <update id="updateOrderAfterPaid" parameterType="java.lang.String">
        update t_order set state = 'paid' where order_id = #{orderId}
    </update>
</mapper>